h2 {
  color: #003459;
  display: inline;
  padding-right: 150px;
}

.card-body {
  background: #aeccc6;
}
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}
.current-weather {
  position: fixed;
  top: 20px;
  right: 400px;
  font-size: 84px;
}
.card .forecast {
  background: #f1f1f1;
}
.col-6 {
  font-weight: bold;
}
.col-2 {
  text-align: center;
  border-radius: 5px;
}
.weather-emoji {
  font-size: 40px;
}
